body {
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

.startSurveyContainer {
    display: flex;
    flex-direction: column;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}

/* Label becomes span element when rendered in browser */
span {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* textbox and button becomes input element when rendered in browser */
input {
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

